*{
    font-family: 'Lato', sans-serif;
    font-style: bold;
    background-color:#f2f7f8 ;
}
.my-image{
    max-width: 100% !important;
    height: auto;
    width: auto;
}

.content-box{
    background-color: #f2f7f8;
    display: flex;
   

}

.leftColumn{
    background-color: #F8F8F8;
}


div{
    display: block;
}

.hero-section {
	background: #f2f7f8;
}


.hero-text {
	margin-bottom: 80px;
}

.hero-text h2 {
    font-size: 70px;
    font-weight: bold;
	line-height: normal;
    margin-bottom: 20px;
    padding-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
}

.hero-text p {
	font-size: 33px;
    line-height: 1.3;
    color: #808181;
    font-family: 'Montserrat', sans-serif;
}

.hero-image {
    padding-top: 70px;
    
   
}


.my-image{
    border-radius: 500px;
    height: 80%;
    width: 80%;
    margin-left: 5%;

}



.hero-info h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.hero-info ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

.hero-info ul li {
	font-size: 24px;
	color: #808181;
    margin-bottom: 15px;
    margin: 0;
    padding: 0;
 
  
}

.hero-info ul li span {
	color: #40424a;
    min-width: 220px;
    margin: 0 auto;
    padding: 0 auto;
}

.hero-info ul li:last-child {
	margin-bottom: 0;
}

.social-section{
    margin-top: 10px;
}

 
.social-section .social-links {
	display: flex;
	background: #f2f7f8;
	position: relative;
    justify-content: center;
  

}

.social-section .social-links a {
	color: #484848;
	font-size: 36px;
    margin-right: 40px;
    align-items: center;
}

.social-section .social-link-warp {
	position: relative;
}

.social-section .social-link-warp h2 {
	display: inline-block;
	float: right;
	font-weight: 400;
	padding-left: 30px;
	background: #f2f7f8;
	position: relative;
	z-index: 5;
}

/* .social-section .social-link-warp:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	left: 23%;
	top: 50%;
	margin-top: 1px;
	background: #cbcbcb;
}  */




