


/* div{
    display: block;
} */

/* ********************** */
/* hero-section styling */
/* ********************** */

.hero-section {
    margin:0 10% 0 10%;
}

.content-box{
    background-color:black;
    display: flex;   
   

}


.hero-section hr{
    height: 1px;
    background-color: #ccc;
    border: none;
    /* margin-right: 9%;	 */
}


.hero-text {
	margin-bottom: 80px;
}

.hero-text h2 {
    font-size: 70px;
    font-weight: bold;
    color: white;
	line-height: normal;
    margin-bottom: 20px;
    padding-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
}

.hero-text p {
	font-size: 30px;
    line-height: 1.3;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.hero-image {
    padding-top: 20%;
    display: flex;
    justify-content: center;   
}

.my-image{
    border-radius: 500px;
    height: 80%;
    width: 80%;
    padding: 0 auto;
    z-index: 0;

}

.hero-info h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    color: white;
}

.hero-info ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

.hero-info ul li {
	font-size: 20px;
	color: #808181;
    margin-bottom: 15px;
    margin: 0;
    padding: 0;
 
  
}

.hero-info ul li span {
	color: white;
    min-width: 150px;
    margin: 0 auto;
    padding: 0 auto;
}

.hero-info ul li:last-child {
	margin-bottom: 0;
}


/* ********************** */
/* social-section styling */
/* ********************** */


.social-section{
    margin-top: 6%;
}


 
.social-section .social-links {
	display: flex;
	background: black;
	/* position: relative; */
    justify-content: center;
    padding-left: 10%;
  

}

.social-section .social-links a {
	color: white;
	font-size: 36px;
    margin-right: 5%;
    align-items: center;
    
}

.social-section .social-link-warp {
    /* position: relative; */
    padding-bottom: 5%;
}


.social-section h2{
    color: white;
}

/* .social-section .social-link-warp h2 {
	display: inline-block;
	float: right;
	font-weight: 400;
	padding-left: 30px;
	background: #222222;
	position: relative;
	z-index: 5;
} */

/* .social-section .social-link-warp:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	left: 23%;
	top: 50%;
	margin-top: 1px;
	background: #cbcbcb;
}  */


.social-section hr{
    height: 1px;
    background-color: #ccc;
    border: none;
    width: 80%;
}



/* ********************** */
/* works-section styling */
/* ********************** */

.works-section{
    margin:0 10% 0 8%  ;
    

}


.works-section h2,h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
	line-height: normal; 
    padding-top: 10px;

    font-family: 'Josefin Sans', sans-serif;
 
}




.works-section p{
    line-height: 1.5;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
  
}


.project-content{
   margin: 0;
   padding: 0;
   background-color: #111111;
      
  }


.project-content hr{
    border: 0;              
    background-color:#ccc;
    height: 2px;
    color:white;
      
  }

  .card-box hr{
    border: 0;              
    background-color:#ccc;
    width: 100%;
    margin-bottom: 50px;
    height: 2px;
    color:white;
      
  }





/* ********************** */
/* resume-section styling */
/* ********************** */


.resume-section{
    margin: 0;
    margin-top: 5%;
    background-color: whitesmoke;
    color: white;
}

.resume-section hr{
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#ccc;
  height: 1px;
   
}

.box{
    background-color: #333333;  
}

.rightColumn, .leftColumn{
    margin-left: 2% ;
    padding: 10% 0
  
}
.resume-section h1{
    background-color: #333333;
}

.resume-section h5{
    background-color: #333333;
}

.resume-section p{
    background-color: #333333;
}

.resume-section ul{
    background-color: #333333;
}
.resume-section li{
    background-color: #333333;
}


/* ********************** */
/* resume-section styling */
/* ********************** */


.footer-section{
    height: 60px;
    padding-top: 15px;
    margin-bottom: 15px;
    margin: 0 10% 0 10%;
}



